.notification-success {
    background-color: aquamarine;
    border: 1px solid green;
    color: green
}

.notification-error {
    background-color: rgb(245, 122, 122);
    border: 1px solid red;
    color: red
}

.blog-card {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}